{% extends 'base_background.html' %}
{% load static %}

{% block title %} Restaurant and Kitchen Service {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

</div></div></div>
<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'img/764a0007-kopiya-5b210e3a85bf6.jpg' %}')">
    <span class="mask bg-gradient-dark opacity-4"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">Restaurant and Kitchen Service</h1>
          <p class="lead text-white mt-3">Welcome to the best Restaurant and Kitchen Service Ever! <br/> Restaurant and Kitchen Service has the following record counts: </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

<section class="pt-3 pb-4" id="count-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto py-3">
        <div class="row">
          <div class="col-md-3 position-relative">
            <a href="{% url 'kitchen:cook-list' %}">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"><span id="state1">{{ num_cooks }}</span></h1>
              <h5 class="mt-3">Cook{{ num_cooks|pluralize }}</h5>
            </div>
            </a>
            <hr class="vertical dark">
          </div>
          <div class="col-md-3 position-relative">
            <a href="{% url 'kitchen:dish-list' %}">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"><span id="state2">{{ num_dishes }}</span></h1>
              <h5 class="mt-3">Dish{{ num_dishes|pluralize:" ,es" }}</h5>
            </div>
            </a>
            <hr class="vertical dark">
          </div>
          <div class="col-md-3 position-relative">
            <a href="{% url 'kitchen:dish-type-list' %}">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"> <span id="state3">{{ num_dish_types }}</span></h1>
              <h5 class="mt-3">Dish type{{ num_dish_types|pluralize }}</h5>
            </div>
            </a>
            <hr class="vertical dark">
          </div>
          <div class="col-md-3 ">
            <a href="{% url 'kitchen:ingredient-list' %}">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary" id="state4">{{ num_ingredients }}</h1>
              <h5 class="mt-3">Ingredient{{ num_ingredients|pluralize }}</h5>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
</div>
{% endblock %}